<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226526983105-8mqrsek3lod0tk9rt458k9ms6ti4r771.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226526983105-8mqrsek3lod0tk9rt458k9ms6ti4r771</string>
	<key>API_KEY</key>
	<string>AIzaSyCsu1fus7EjXq2bZyXpWMDcNch5s_iaWZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>226526983105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.menexus.menexus</string>
	<key>PROJECT_ID</key>
	<string>menexus-89b00</string>
	<key>STORAGE_BUCKET</key>
	<string>menexus-89b00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226526983105:ios:4dde9b4cac01165e237540</string>
</dict>
</plist>